.main {
	display: flex;
	width: 100%;
	justify-content: flex-end;
	background-color: bisque;
	align-items: center;
	height: 10vh;
	h3 {
		flex: 0 1 100px;
		padding: 5px;
		margin-right: 20px;
		cursor: pointer;
	}
}
