.main {
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-grow: wrap;
	padding: 20px;
	img {
		width: 100%;
		border: 1px solid green;
	}
	.info {
		padding: 20px;
	}
	.imgContainer {
		flex: 1 0 335px;
	}
}
