.main {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 20px;

	.imgContainer {
		flex: 1 0 335px;
		border: 1px solid green;

		img {
			width: 100%;
		}
	}
	.info {
		flex: 1 0 335px;
		text-align: justify;
		h2,
		h3,
		p {
			width: 100%;
		}
	}
}
